[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
boto3_type_annotations_with_docs = "*"
sphinx = "~=1.6"
docutils = "*"

[packages]
aws_xray_sdk = "*"
boto3 = "*"
boto3_type_annotations = "*"


[requires]
python_version = "3.7"

[scripts]
handler = "python dlq_handler.py"
